@using MVC.Models
@model  IEnumerable<Apartment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
    List<Apartment> apartmentsHighPrice = Repo.LoadApartmentHighPrice();
    List<Apartment> apartmentsLowPrice = Repo.LoadApartmentLowPrice();
    int numberOfRooms = 2;
    int numberOfAdults = 2;
    int numberOfChildren = 2;
    List<Apartment> apartmentFilterList = new List<Apartment>();
}

<link rel="stylesheet" href="~/Content/starability-basic.css" />

<h2>Apartments List</h2>

<div class="container">
    <div class="row">
        <div class="col-md-auto py-3">
            <input id="myInput" type="text" placeholder="Search by anyting..." class="form-control form-control-lg" />
        </div>
        <div class="col-md-auto">
            <label for="sortBy">Sort by price:</label>
            <select name="sortBy" class="form-control" id="sortBy">
                <option selected value="none">None</option>
                <option value="highPrice">High price</option>
                <option value="lowPrice">Low price</option>
            </select>
        </div>
        <div class="row py-4">
            <div class="col">
                <label for="Rooms">Rooms:</label>
                <input type="number" class="form-control" id="roomsNumber" />
            </div>
            <div class="col">
                <label for="Adults">Adults:</label>
                <input type="number" class="form-control" id="adultsNumber" />
            </div>
            <div class="col">
                <label for="Children">Children:</label>
                <input type="number" class="form-control" id="childrenNumber" />
            </div>
            <div class="col py-4">
                <button class="btn btn-primary" id="filterButtonGo">Go</button>
            </div>
        </div>
    </div>
</div>

<div class="row apartmentRow">
    @foreach (var apartment in Model)
    {
        ApartmentPicture apartmentPic = Repo.LoadApartmentRepresentativePicture(apartment.Id);
        <div class="card m-5 serachAll" style="width: 20.5rem;">
            <img class="card-img-top" src="@apartmentPic.Path.Remove(0,1)" />
            <div class="card-body">
                <h5 class="card-title">@apartment.Name</h5>
                <fieldset class="starability-basic" id="rates-@apartment.Id">
                    <input type="radio" name="rating" value="1" />
                    <label title="Terrible">1 star</label>
                    <input type="radio" name="rating" value="2" />
                    <label title="not good">2 stars</label>
                    <input type="radio" name="rating" value="3" />
                    <label title="Average">3 stars</label>
                    <input type="radio" name="rating" value="4" />
                    <label title="Very good">4 stars</label>
                    <input type="radio" name="rating" value="5" />
                    <label title="Amazing">5 stars</label>
                </fieldset>
                <p class="card-text">
                    Address: @apartment.Address
                </p>
                <p class="card-text">
                    Max adults: @apartment.MaxAdults
                </p>
                <p class="card-text">
                    Max children: @apartment.MaxChildren
                </p>
                <p class="card-text price">
                    Price : @apartment.Price kn
                </p>
                <p class="card-text">
                    Total rooms number: @apartment.TotalRooms
                </p>
                <p class="card-text">
                    Beach distance: @apartment.BeachDistance m
                </p>
                @Html.ActionLink("Details", "Details", new { id = apartment.Id }, new { @class = "btn btn-primary btn-sm" })
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>

        const apartmentList = document.querySelector('.apartmentRow');

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".serachAll").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(document).ready(function () {
            $("#filterButtonGo").click(function () {
                removeAllChildNodes(apartmentList);
                @{
                    apartmentFilterList = Repo.ApartmentsByAppliedFilter(numberOfRooms, numberOfAdults, numberOfChildren);
                }

                $(".apartmentRow").append("@foreach (var apartment in apartmentFilterList){ApartmentPicture apartmentPic = Repo.LoadApartmentRepresentativePicture(apartment.Id); <div class='card m-5 serachAll' style='width: 20.5rem;'> <img class='card-img-top' src='@apartmentPic.Path.Remove(0, 1)'> <div class='card-body'> <h5 class='card-title'>@apartment.Name</h5> <fieldset class='starability-basic' id='rates-@apartment.Id'> <input type='radio' name='rating' value='1'/> <label title='Terrible'>1 star</label> <input type='radio' name='rating' value='2'/> <label title='not good'>2 stars</label> <input type='radio' name='rating' value='3'/> <label title='Average'>3 stars</label> <input type='radio' name='rating' value='4'/> <label title='Very good'>4 stars</label> <input type='radio' name='rating' value='5'/> <label title='Amazing'>5 stars</label> </fieldset> <p class='card-text'> Address: @apartment.Address</p> <p class='card-text'> Max adults: @apartment.MaxAdults</p> <p class='card-text'>Max children: @apartment.MaxChildren</p> <p class='card-text price'>Price: @apartment.Price kn</p> <p class='card-text'> Total rooms number: @apartment.TotalRooms</p> <p class='card-text'>Beach distance: @apartment.BeachDistance m</p> <a href='/Apartment/Details/@apartment.Id'><button class='btn btn-primary'>Details</button></a> </div></div>}");
                });
        });


        $(document).ready(function () {
            $('#sortBy').change(function () {
                if (this.value == 'highPrice') {
                    removeAllChildNodes(apartmentList);
                    $(".apartmentRow").append("@foreach (var apartment in apartmentsHighPrice){ApartmentPicture apartmentPic = Repo.LoadApartmentRepresentativePicture(apartment.Id); <div class='card m-5 serachAll' style='width: 20.5rem;'> <img class='card-img-top' src='@apartmentPic.Path.Remove(0, 1)'> <div class='card-body'> <h5 class='card-title'>@apartment.Name</h5> <fieldset class='starability-basic' id='rates-@apartment.Id'> <input type='radio' name='rating' value='1'/> <label title='Terrible'>1 star</label> <input type='radio' name='rating' value='2'/> <label title='not good'>2 stars</label> <input type='radio' name='rating' value='3'/> <label title='Average'>3 stars</label> <input type='radio' name='rating' value='4'/> <label title='Very good'>4 stars</label> <input type='radio' name='rating' value='5'/> <label title='Amazing'>5 stars</label> </fieldset> <p class='card-text'> Address: @apartment.Address</p> <p class='card-text'> Max adults: @apartment.MaxAdults</p> <p class='card-text'>Max children: @apartment.MaxChildren</p> <p class='card-text price'>Price: @apartment.Price kn</p> <p class='card-text'> Total rooms number: @apartment.TotalRooms</p> <p class='card-text'>Beach distance: @apartment.BeachDistance m</p> <a href='/Apartment/Details/@apartment.Id'><button class='btn btn-primary'>Details</button></a> </div></div>}");
                }
                else if (this.value == 'lowPrice') {
                    removeAllChildNodes(apartmentList);
                    $(".apartmentRow").append("@foreach (var apartment in apartmentsLowPrice){ApartmentPicture apartmentPic = Repo.LoadApartmentRepresentativePicture(apartment.Id); <div class='card m-5 serachAll' style='width: 20.5rem;'> <img class='card-img-top' src='@apartmentPic.Path.Remove(0, 1)'> <div class='card-body'> <h5 class='card-title'>@apartment.Name</h5> <fieldset class='starability-basic' id='rates-@apartment.Id'> <input type='radio' name='rating' value='1'/> <label title='Terrible'>1 star</label> <input type='radio' name='rating' value='2'/> <label title='not good'>2 stars</label> <input type='radio' name='rating' value='3'/> <label title='Average'>3 stars</label> <input type='radio' name='rating' value='4'/> <label title='Very good'>4 stars</label> <input type='radio' name='rating' value='5'/> <label title='Amazing'>5 stars</label> </fieldset> <p class='card-text'> Address: @apartment.Address</p> <p class='card-text'> Max adults: @apartment.MaxAdults</p> <p class='card-text'>Max children: @apartment.MaxChildren</p> <p class='card-text price'>Price: @apartment.Price kn</p> <p class='card-text'> Total rooms number: @apartment.TotalRooms</p> <p class='card-text'>Beach distance: @apartment.BeachDistance m</p> <a href='/Apartment/Details/@apartment.Id'><button class='btn btn-primary'>Details</button></a> </div></div>}");
                }
                else if (this.value == 'none') {
                    location.reload();
                }
            });
        });

        function removeAllChildNodes(parent) {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            }
        }

    </script>
}
