@using MVC.Models
@model  IEnumerable<Apartment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<div class="container">
    <h2>Apartments List</h2>

    <table id="table_of_apartments" class="table table-condensed">
        <thead>
            <tr>
                <th>
                    Owner
                    @*@Html.DisplayNameFor(model => model.OwnerId)*@
                </th>
                <th>
                    Status
                    @*@Html.DisplayNameFor(model => model.StatusId)*@
                </th>
                <th>
                    City
                    @*@Html.DisplayNameFor(model => model.CityId)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameEng)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxAdults)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxChildren)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalRooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeachDistance)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apartment in Model)
            {
                <tr>
                    <td>
                        @Html.Action("GetNameOwner", new { id = apartment.OwnerId })
                    </td>
                    <td>
                        @Html.Action("GetNameStatus", new { id = apartment.StatusId })
                    </td>
                    <td>
                        @Html.Action("GetNameCity", new { id = apartment.CityId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => apartment.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => apartment.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => apartment.NameEng)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => apartment.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => apartment.MaxAdults)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => apartment.MaxChildren)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => apartment.TotalRooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => apartment.BeachDistance)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = apartment.Id }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_of_apartments').DataTable();
        });
    </script>
}
